extends ../includes/layout_default

block content
	.level
		.level-left
			h1.is-size-4.title.is=title
		.level.-right
	.columns
		.column
			.box.has-background-white
				table.table.is-fullwidth.is-responsive.is-size-5
					tbody
						tr
							td.has-text-weight-bold Balance
							td.has-text-right=user.availableBalance.toFixed(2)
						tr
							td.has-text-weight-bold Locked
							td.has-text-right=user.lockedBalance.toFixed(2)
				.columns
					.column
						button.button.is-medium.modal-button.is-fullwidth.is-dark.is-outlined(data-target='withdrawBalance') Withdraw
					.column
						button.button.is-medium.modal-button.is-fullwidth.is-dark.is-outlined(data-target='depositBalance') Deposit

		.column
			.box.has-background-white


	br

	h1.is-size-4.title.is Balance History

	section.box.has-background-light.is-paddingless
		.box.has-background-white.is-paddingless
			table.table.is-striped.is-fullwidth.is-size-5
				thead.has-background-light
					tr
						th.has-text-centered
							abbr(title='Name') Event
						th.has-text-centered
							abbr(title='Price') Progress
						th.has-text-centered
							abbr(title='Views') Status
						th.has-text-centered
							abbr(title='Purchases') Date
							
				tbody
					each tx in txs
						tr
							th.has-text-centered.has-text-weight-light=tx.name
							th.has-text-centered.has-text-weight-light=item.price
							th.has-text-centered.has-text-weight-light
							
			if txs && txs.length <= 0
				p.has-text-centered
					| You have no transaction history.
				br

	include includes/modals