extends ../../includes/layout_default

block content
	//include includes/head
	h1.title=item.name

	.columns
		.column
			.box.has-background-white.has-text-centered
				p.is-size-5 To purchase this item, click the button below to continue.
		
			form(action='' method='post')
				input(type='hidden' name='id' value=item.id)
				button.button.is-large.is-success.is-fullwidth(type='submit' style='padding:20px 0 60px 0;') Buy Now
		.column.is-one-third
			.box.has-background-white.has-text-centered
				table.table.is-fullwidth.is-responsive
					tbody
						tr
							td
								| Price: 

							td=item.price
						tr
							td
								| Service Fee: 

							td=item.sfee
						tr
							td
								| Network Fee: 

							td=item.fee
						tr
							td
								| Total:

							td=item.total
