extends ../includes/layout_default

block content
	include includes/head

	section.box.has-background-light.is-paddingless
		.box.has-background-white.is-paddingless
			table.table.is-striped.is-fullwidth.is-size-5
				thead.has-background-light
					tr
						th.has-text-centered
							abbr(title='Name') Name
						th.has-text-centered
							abbr(title='Amount') Amount
						th.has-text-centered
							abbr(title='Views') Views
						th.has-text-centered
							abbr(title='Purchases') Purchases
						th.has-text-centered
							abbr(title='Manage') Manage
				tbody
					each item in items
						tr
							th.has-text-centered.has-text-weight-light
								.tag.is-light.is-medium=item.name
				
							th.has-text-centered.has-text-weight-light=item.name
							th.has-text-centered.has-text-weight-light=item.amount
							th.has-text-centered.has-text-weight-light=item.views
							th.has-text-centered.has-text-weight-light=item.purchases

							th.has-text-centered
								a.button(href='/item/' + item.id style='width:75px;')
									span.icon
										i.icon-options
			if items && items.length <= 0
				p.has-text-centered
					| You have zero items. Get started by <a href='/items/new'> adding one</a>.
				br